@model RMS.Models.HRSalaryPolicy
@{
    ViewData["Title"] = "Human Resource (HR) > Maintenance > Salary Policy > Delete Salary Policy";
}
<h5 style="color: #1275AE; margin-top: 10px;">@ViewData["Title"]</h5>
<div>
    <h5 class="text-danger">Are you sure you want to delete this?</h5>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HRSPName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HRSPName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ADDUC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model=> model.ADDUC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PerNPer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model=> model.PerNPer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HRSPPercent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model=> model.HRSPPercent)
        </dd>
    </dl>
    <form asp-action="Delete">
        <div class="text-danger btn-group" asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="HRSPId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-secondary" asp-action="index"
           asp-route-pg="@TempData.Peek("CurrentPage")">Back</a>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}