@model IEnumerable<RMS.Models.StoreGReceive>
@{
    ViewData["Title"] = "Store & Inventory > Item Movement > Item Receive > Item List";
    SortModel sortModel = (SortModel)ViewData["sortModel"];
    PagerModel pager = ViewBag.Pager;
    int i = 1;
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<div class="container-fluid btn-group">
    <div class="col-10">
        <h6 style="color: #1275AE; margin-top: 10px;">@ViewData["Title"]</h6>
    </div>
    <div class="col-2 justify-content-end">
        <p class="pb-3">
            <a asp-action="Create" class="btn btn-success">Create New</a>
        </p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-12">
        <partial name="_topBar" model="@pager" />
    </div>
</div>
<table class="table table-striped border m-0">
    <thead>
        <tr>
            <th>
                SL
            </th>
            <th>
                <i class="@sortModel.GetColumn("GRDate").SortIcon" arial-hidden="true"></i>
                <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("GRDate").SortExpression">
                    @Html.DisplayNameFor(model => model.GRDate)
                </a>
            </th>
            <th>
                <i class="@sortModel.GetColumn("StoreIGens").SortIcon" arial-hidden="true"></i>
                <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("StoreIGens").SortExpression">
                    @Html.DisplayNameFor(model => model.StoreIGens.SIGItemName)
                </a>
            </th>
            <th>
                <i class="@sortModel.GetColumn("StoreCategory").SortIcon" arial-hidden="true"></i>
                <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("StoreCategory").SortExpression">
                    @Html.DisplayNameFor(model => model.StoreCategory.SCName)
                </a>
            </th>
            <th>
                <i class="@sortModel.GetColumn("StoreSCategory").SortIcon" arial-hidden="true"></i>
                <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("StoreSCategory").SortExpression">
                    @Html.DisplayNameFor(model => model.StoreSCategory.SSCName)
                </a>
            </th>
            <th>
                <i class="@sortModel.GetColumn("StoreUnit").SortIcon" arial-hidden="true"></i>
                <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("StoreUnit").SortExpression">
                    @Html.DisplayNameFor(model => model.StoreUnit.SUName)
                </a>
            </th>
            <th>
                <i class="@sortModel.GetColumn("GRUPrice").SortIcon" arial-hidden="true"></i>
                <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("GRUPrice").SortExpression">
                    @Html.DisplayNameFor(model => model.GRUPrice)
                </a>
            </th>
            <th>
                <i class="@sortModel.GetColumn("GRQty").SortIcon" arial-hidden="true"></i>
                <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("GRQty").SortExpression">
                    @Html.DisplayNameFor(model => model.GRQty)
                </a>
            </th>
            
            <th>Total Price</th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@i</td>
                <td>
                    @Html.DisplayFor(modelItem => item.GRDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreIGens.SIGItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreCategory.SCName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreSCategory.SSCName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreUnit.SUName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GRUPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GRQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GRTPrice)
                </td>
                <td>
                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@item.GRId">
                            <span class="btn btn-sm btn-primary">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </span>
                        </a>
                    </div>
                    <div class="btn-group">
                        <a asp-action="Details" asp-route-id="@item.GRId">
                            <span class="btn btn-sm btn-dark">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </span>
                        </a>
                    </div>
                    <div class="btn-group">
                       <a asp-action="Delete" asp-route-id="@item.GRId">
                            <span class="btn btn-sm btn-danger">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </span>
                        </a>
                    </div>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
<div class="row">
    <div class="col-12">
        <partial name="_bottomBar" model="@pager" />
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


