@model RMS.Models.HRDesignation
@{
    ViewData["Title"] = "Human Resource (HR) > Maintenance > Designation >Delete Designation";
}
<h5 style="color: #1275AE; margin-top: 10px;">@ViewData["Title"]</h5>
<div>
    <h5 class="text-danger">Are you sure you want to delete this?</h5>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HRDeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HRDeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HRDeDes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HRDeDes)
        </dd>
    </dl>
    <form asp-action="Delete">
        <div class="text-danger btn-group" asp-validation-summary="ModelOnly" ></div>
        <input type="hidden" asp-for="HRDeId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-secondary" asp-action="index"
            asp-route-pg="@TempData.Peek("CurrentPage")">Back</a>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}