@model RMS.Models.StoreGIssueMaster

@{
    ViewData["Title"] = "Store & Inventory > Item Movement > Item Issue > Create Issue";
}
<h6 style="color: #1275AE; margin-top: 10px;">@ViewData["Title"]</h6>
<hr />

<div class="row">
    <form asp-action="Create" id="masterForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-12">
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="GIMDate" class="control-label"></label>
                    <input asp-for="GIMDate" class="form-control" />
                    <span asp-validation-for="GIMDate" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="HRDId" class="control-label"></label>
                    <select asp-for="HRDId" class="form-control" asp-items="ViewBag.HRDepart"></select>
                    <span asp-validation-for="HRDId" class="text-danger"></span>
                </div>
                <div class="form-group col-12">
                    <label asp-for="GIMRemarks" class="control-label"></label>
                    <textarea asp-for="GIMRemarks" class="form-control"></textarea>
                    <span asp-validation-for="GIMRemarks" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="height: 250px; overflow-y: auto;">
            <table id="ExpTable" class="table tabletable-striped border mt-2">
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Total Price</th>
                        <th>
                            <button id="btnaddExperience" type="button" class="btn btn-secondary  "
                                    onclick="AddItem(this)">
                                Add
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.StoreGIssueDetails.Count; i++)
                    {
                        <tr>
                            <td>
                                <select asp-for="@Model.StoreGIssueDetails[i].SIGId" class="form-control" asp-items="ViewBag.IGen"></select>
                            </td>
                            <td>
                                <input asp-for="@Model.StoreGIssueDetails[i].GIDQty" class="form-control" value="">
                            </td>
                            <td>
                                <input asp-for="@Model.StoreGIssueDetails[i].GIDUPrice" class="form-control" value="">
                            </td>
                            <td>
                                <input asp-for="@Model.StoreGIssueDetails[i].GIDTPrice" class="form-control" value="" readonly>
                            </td>
                            <td>

                                <button id="btnremove-@i" type="button" class="btn btn-danger "
                                    onclick="DeleteItem(this)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <input type="hidden" id="hdnLastIndex" value="0" />


        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
            <a asp-action="index" class="btn btn-success"> Back</a>
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}