@model RMS.Models.StoreGIssueMaster
@{
    ViewData["Title"] = "Store & Inventory > Item Movement > Item Issue > Details List";
}
<h6 style="color: #1275AE; margin-top: 10px;">@ViewData["Title"]</h6>
<hr />

<form asp-action="Details">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="GIMId"/>
    <div class="col-md-12">
        <div class="row">
            <div class="form-group col-6">
                <label asp-for="GIMDate" class="control-label"></label>
                <input asp-for="GIMDate" class="form-control" readonly/>
            </div>
            <div class="form-group col-6">
                <label asp-for="HRDId" class="control-label"></label>
                <input asp-for="HRDepart.HRDName" class="form-control" readonly />
            </div>
            <div class="form-group col-12">
                <label asp-for="GIMRemarks" class="control-label"></label>
                <textarea asp-for="GIMRemarks" class="form-control" readonly></textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12" >
        <table id="ExpTable" class="table tabletable-striped border mt-2">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total Price</th>
                    
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.StoreGIssueDetails.Count; i++)
                {
                    <tr>
                        <td>
                            <input asp-for="@Model.StoreGIssueDetails[i].StoreIG.SIGItemName" class="form-control" readonly />
                        </td>
                        <td>
                            <input asp-for="@Model.StoreGIssueDetails[i].GIDQty" class="form-control" readonly>
                        </td>
                        <td>
                            <input asp-for="@Model.StoreGIssueDetails[i].GIDUPrice" class="form-control" readonly>
                        </td>
                        <td>
                            <input asp-for="@Model.StoreGIssueDetails[i].GIDTPrice" class="form-control" readonly>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="form-group btn-group mt-4">
            <a class="btn btn-success" asp-action="index"
                asp-route-pg="@TempData.Peek("CurrentPage")">
                <i class="fas fa-arrow-left"></i>
                Back To List
            </a>
        </div>
    </div>
</form>
